/* Page header background */
.weather-header {
    background:linear-gradient(89deg, rgba(0, 75, 212, 1) 0%, rgba(130, 238, 225, 1) 89%);
    margin-bottom: 15px;
}
.weather-header h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    
}
/* set properties for main weather box */
.current-weather {
    border: 1px solid black;
    margin-right: 30px;
}
.current-weather h2, p {
    padding-left: 8px;
}

/* Search button */
.search-button {
    border-radius: 5px !important;
    /* display: block !important; */
    margin-top: 5px;
    width: 72% !important;
}
/* Weather search input takes the same width as the search-button */
.weather-search {
    width: 72%;
}
/* Sets properties for the horizontal line below search button */
.weather-hr {
    border: 1px solid rgba(0, 0, 0, 0.272);
}

/* Searched city result buttons */
.recent-search {
    display: block !important;
    width: 72% !important;
    margin-bottom: 5px;
    border-radius: 5px !important;
}
